@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&family=Croissant+One&family=Kanit:wght@400;500&family=Lobster&family=Lobster+Two:wght@700&family=Nosifer&family=Sansita+Swashed:wght@500&display=swap');
/* Your custom styles */
.btn-primary , .bg-primary{
    background: linear-gradient(45deg,black,blueviolet);
}
.btn-secondary , .bg-secondary{
    background: linear-gradient(45deg,black,purple);
}
.btn-success , .bg-success{
    background: linear-gradient(45deg,black,limegreen);
}
.btn-info , .bg-info{
    background: linear-gradient(45deg,black,lightblue);
}
.btn-warning , .bg-warning{
    background: linear-gradient(45deg,black,orange);
}
.btn-danger , .bg-danger{
    background: linear-gradient(45deg,black,red);
}
.btn-light , .bg-light{
    background: linear-gradient(45deg,darkgray,gray);
}
.btn-dark , .bg-dark{
    background: linear-gradient(45deg,black,darkslategray);
}
.table tbody tr td{
    font-weight: bold;
}
.contact-img{
    margin-top: -70px;
}




.home-image{
    background: url("./assets/img/Home-Blog.png") no-repeat scroll center;
    background-size: cover;
    height:100vh;
    color:black;
    font-size:25px;
    font-weight: 600;
    /* filter: brightness(80%); */
  }

.landing-page{
    background: url("./assets/img/Home-Blog.png") no-repeat scroll center;
    background-size: cover;
    
}

/* .wrapper{
    background-color: rgba(0,0,0,0.8);
    width:100%;
    height: 100vh;
    background-size: cover;
} */

.blog-page-full{
    background-image: url("./assets/img/List-Blog.png");
    background-size: cover;
    background-position: center;
    height:100vh;
}

.blog-page{
    background-image: url("./assets/img/List-Blog.png");
    background-size: cover;
}

.create-page{
    background-image: url("./assets/img/Create-Blog.jpeg");
    background-size: cover;
    height: 100vh;
}

.update-page{
    background-image: url("./assets/img/Update-Blog.jpeg");
    background-size: cover;
    height: 100vh;
}

.admin-page-full{
    background-image: url("./assets/img/Admin-Blog.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.admin-page{
    background-image: url("./assets/img/Admin-Blog.jpg");
    background-size: cover;
}


.navbar-brand{
    font-family: Nosifer;
    font-size:20px;
    font-weight: 200;
}

.nav-link{
    font-family: Croissant One;
    font-size:20px;
    font-weight: 200;
}

.topic{
   font-family: serif; 
   font-size: 25px;
   font-weight: 500;
 

}



.topic-text{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 2px;

}

.heading{
    font-family: serif; 
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color:rgb(196, 231, 66);

 }

 
 .heading-text{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1px;
 }



 .info{
    font-family: serif; 
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color:rgb(252, 173, 84);
 
 }
 
 .info-text{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
 
 }
 

 
 .infoURL{
    font-family: 'Arimo', sans-serif;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 1px;
 
 }

 .created{
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
 
 }

 .created-text{
    font-family: 'Arimo', sans-serif;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 1px;
 
 }

 .blog-image{
     border-radius: 10px;
 }


  /* table wrapper */
  #table-wrapper {
    position:relative;
    width:100%;

  }

  #table-scroll {
    height:100vh;
    overflow:auto;
  }

  tbody #table-wrapper{
  width:100%;
  }

.card{
    padding:0px;
}